.overlay {
  position: fixed;
  z-index: 4;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
.active {
  display: block;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(14, 22, 39, 0.659);
}
.popap {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-4);
  padding: 2% 3%;
  max-width: 30%;
  overflow: auto;
  border-radius: 20px;
}
.close_button_ef {
  margin-left: 15px;
  color: var(--color-1);
  font-weight: bold;
  float: right;
  font-size: 26px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.column_ef {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fonts,
.column_ef input {
  font-family: "Lobster Two", cursive;
  font-weight: 700;
  font-size: 0.7rem;
}
.column_ef input {
  border-bottom: 1px solid var(--color-1);
}
.image_ef {
  width: 5%;
  height: auto;
  margin: 0 3%;
}
.input_row_box_ef > div {
  margin: 2% 0;
}
.header_ef {
  width: 100%;
  justify-content: space-between;
}
.header_ef h2 {
  font-family: "Lobster Two", cursive;
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 3%;
}
.input_row_box_ef {
  display: flex;
  flex-direction: column;
  margin: 3% 0 3% 6%;
}
.buttons_ef {
  justify-content: end;
}
.buttons_ef button {
  border: none;
  background-color: var(--color-1);
  color: var(--color-6);
  padding: 2% 3%;
  border-radius: 20px;
  margin-left: 4%;
}
.time_box_enterval_ef {
  width: 20%;
}
.aa_ef {
  margin: 0 4%;
}
.date_input_ef {
  width: 100%;
  margin-right: 10%;
}
