.arrow_side {
  text-align: center;
  width: 4%;
}
.arrow_down {
  text-align: center;
  width: 10%;
}
.arrows {
  border: solid var(--color-1);
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 30%;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
